.gradle
build
jniLibs
.idea
local.properties
*.iml
obj
/app/src/main/assets/*
!/app/src/main/assets/companion/
.cxx-docker/
app/.cxx-docker/
.gdb_history
app/wrap
fabric.properties
captures
*.apk
output.json
.ccls-cache
app/nightly
app/mainline
app/release
.kotlin
.cxx
.DS_Store
**/.DS_Store
.externalNativeBuild/

.cxx/
app/.cxx/
build/
app/build/
